*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background-image: url(asset/img/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
button{
    color: #fbfcfb;
    padding: 10px 25px;
    background: transparent;
    border:1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.content
{
    color: #fbfcfb;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%);
    z-index: 2;
    text-align: center;
}
h1{
    font-size: 95px;
    margin: 10px 0 30px;
}
.side-bar{
    width: 60px;
    height: 100vh;
    background: linear-gradient(#00545d,#000729);
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 2;

}
.menu{
    display: block;
    width: 45px;
    margin: 15px 6.5px 0px;
    cursor: pointer;

}
.social-link img, .usefull-links{ 
    display: block;
    width: 25px;
    margin: 15px auto;
    cursor: pointer;
}
.social-link{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.usefull-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}
.bubbles img{
    width: 35px;
    animation: bubble 7s linear infinite;
}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -80px;
}
@keyframes bubble{
    0%{
        transform: translate(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    75%{
       
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
} 
.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 65px;
}
.bubbles img:nth-child(2){
    animation-delay: 5s;
    width: 35px;
}
.bubbles img:nth-child(3){
    animation-delay: 9s;
    width: 45px;
}
.bubbles img:nth-child(4){
    animation-delay: 3s;
    width: 15px;
}
.bubbles img:nth-child(5){
    animation-delay: 6s;
    width: 55px;
}
.bubbles img:nth-child(6){
    animation-delay: 7s;
    width: 18;
}
.bubbles img:nth-child(7){
    animation-delay: 3s;
    width: 38;
}
.bubbles img:nth-child(8){
    animation-delay: 7.5s;
    width: 45px;
}
.bubbles img:nth-child(9){
    animation-delay: 6.5s;
    width: 63px;
}
.bubbles img:nth-child(10){
    animation-delay: 3.5s;
    width: 13px;
}
.bubbles img:nth-child(11){
    animation-delay: 6.5s;
    width: 23px;
}
.bubbles img:nth-child(12){
    animation-delay: 6.95s;
    width: 13px;
}
.bubbles img:nth-child(13){
    animation-delay: 4s;
    width: 13px;
}
.bubbles img:nth-child(14){
    animation-delay: .5s;
    width: 13px;
}

.bubbles img:nth-child(15){
    animation-delay: 4.5s;
    width: 63px;
}
.driver img{
    width: 350px;
}
.driver{
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: relative;
    animation: driver-swim 35s ease-out infinite;
    z-index: 0;
    left: -180px;
}
@keyframes driver-swim{
    0%{
        transform: translate(0);
        opacity: 35;
    }
    50%{
        
        opacity: 1;
    }
    75%{
       
        opacity: 1;
    }
    100%{
        transform: translate(230vh);
        opacity: 0;
    }
}
.driver-swim img:nth-child(1){
    animation-delay: 10s;
    width: 65px;
}
